</div></td>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANKBU®</title>
    <link rel="stylesheet" href="../css/pages.css">
    <link rel="stylesheet" href="../css/style.css">
 <link rel="icon" href="../img/ACQUIRER-logo.JPG" type="image/x-icon">
</head>

<body>

    <header>
        <img class="logo" src="../img/logoBankbu_.PNG" alt="Logo de Mi Empresa">
        <div id="menuBtn">
            <img class="TITLE"  src= "../img/menu.PNG" alt="Botón de Menú ">
        </div>
    </header>
    <nav>
        <ul>
            <li>
                    <a href="../index.html" class="main-optionINICIO">INICIO</a>
            </li>
            <li>
                <a href="NUH_INTB.html" class="main-optionINTRODUCCIÓN">INTRODUCCIÓN</a>
            </li>
            <li><a href="#" class="main-option">NUCLEO ▼</a>
                <ul>
                    <li><a href="NUH_000B.html">Config. Sistema</a></li>
                    <li><a href="NUH_00B_N2.html">Parametros</a></li>
                    <li><a href="NUH_00B_inicio.html">Inicio</a></li>
                    <li><a href="NUH_00B_proceso.html">Proceso</a></li>
                    <li><a href="NUH_00B_inf.html">Inf. Cliente</a></li>
                    <li><a href="NUH_00B_conta.html">Contabilidad</a></li>
                    <li style="visibility: hidden;"><a href="NUH_00B_audi.html">Auditoria</a></li>

                </ul>
            </li>
            <li>
             <a href="#" class="main-option">EMISOR  ▼</a>
                <ul>
                    <li><a href="EMH_000B.html">Productos</a></li>
                    <li><a href="EMH_000Bsoli.html">Solicitudes</a></li>
                    <li><a href="EMH_000Bmerca.html">Mercadeo</a></li>
                    <li><a href="EMH_000Bservi.html">Servicio Al Cliente</a></li>
                    <li><a href="EMH_000Bpendi.html">Pendientes</a></li>
                    <li><a href="EMH_000Btrans.html">Transaccionabilidad</a></li>
                    <li><a href="EMH_000Bauto.html">Autorizaciones</a></li>
                    <li><a href="EMH_000Bplasti.html">Adm. Plasticos</a></li>
                    <li><a href="EMH_000Brecla.html">Reclamos</a></li>
                </ul>
            </li>
 <li style="visibility: hidden">
                <a href="ACH_000B.html" class="main-option">ADQUIRIENTE</a>
            </li>
            <li style="visibility: hidden">
                <a href="DBH_000B.html" class="main-option">TARJETA DEBITO</a>
            </li> </ul>
    </nav>

    <section>
        <div  "> 
            <table >
              <tr> 
                <td ><div > 
                    <p  class="TITLE">Calendario</p>
                    </div></td>
              </tr>
            </table>
            <p class="PARRAFO">Mediante las opciones de Calendario corporaci&oacute;n y Calendario entidad, se realiza el mantenimiento 
              del calendario (control de fechas) de la entidad financiera. Al momento de realizarse 
              la instalaci&oacute;n del Sistema <span class="LINK2">Bankb&uacute;&reg;</span> 
              se debe actualizar la informaci&oacute;n relativa tanto a los d&iacute;as 
              festivos nacionales, como a los d&iacute;as no h&aacute;biles comunes para 
              todas las entidades financieras de la instalaci&oacute;n.</p>
            <p class="PARRAFO"> Los 
              d&iacute;as no h&aacute;biles de una oficina o sucursal se ingresan por la 
              opci&oacute;n Calendario sucursal. </p>
            <p class="PARRAFO">El formulario contiene las opciones Actualizar, Eliminar, 
              y Adicionar. Adicionalmente, cuenta con un filtro de b&uacute;squeda.</p>
            <p class="TITLE"><img  src="../img/NUF_023B1.PNG"768" height="340"></p>
           
            <p class="PARRAFO"><span class="SUBTITULO">Filtro:</span> Se pueden realizar consultas a trav&eacute;s 
            de las siguientes opciones: </p>
            <p class="TITLE"><img src="../img/NUF_023B.PNG"218" height="163"></p>
            
            <table >
              <tr >
                <td class="titletable"><p class="SUBTITULO">Sucursal 
                  o empresa
                </p></td>
                <td><p class="PARRAFO">C&oacute;digo 
                  y nombre que representan, acorde con el nivel, la corporaci&oacute;n 
                  que aglutina a las diversas entidades financieras de la instalaci&oacute;n, 
                  o la empresa o entidad a la que ingres&oacute; el usuario. Estos dos 
                  campos son informativos no modificables.</p></td>
              </tr>
              <tr >
                <td class="titletable"><p class="SUBTITULO"><b>Mes</b></p></td>
                <td ><p class="PARRAFO">Combo no obligatorio que permite seleccionar uno de los meses del a&ntilde;o.</p></td>
              </tr>
              <tr >
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >A&ntilde;o</span></span></b></p></td>
                <td><p class="PARRAFO">Campo obligatorio en el que se debe ingresar el a&ntilde;o por el cual se desa filtrar. </p></td>
              </tr>
            </table>
            
            <p ><span class="SUBTITULO">Adicionar:</span> Si el usuario invoca la opci&oacute;n Adicionar se despliega un formulario con los siguientes campos<span 
        >:</span></font></p>
            <p class="TITLE"><img src="../img/NUF_023B2.PNG"301" height="142"></p>
            
            <table >
              <tr > 
                <td class="titletable"><p class="SUBTITULO">Fecha</p></td>
                <td><p class="PARRAFO">Campo obligatorio en el cual se ingresar&aacute; el d&iacute;a para el cual se desea ingresar las caracter&iacute;sticas que le corresponden de acuerdo al calendario de la entidad. </p></td>
              </tr>
              <tr > 
                <td class="titletable"><p class="SUBTITULO"><b>'Tipo 
                    de d&iacute;a'</b></p></td>
                <td ><p class="PARRAFO">Campo obligatorio que permite 
                    establecer, para el d&iacute;a seleccionado, su naturaleza: h&aacute;bil, 
                    inh&aacute;bil o festivo. Una vez ubicado (resaltado) el d&iacute;a 
                    sobre al que se desea asignar condici&oacute;n, con el mouse se selecciona 
                    el tipo al que corresponde haciendo un click sobre la opci&oacute;n 
                    respectiva. Para facilitar la identificaci&oacute;n visual existe una 
                    diferenciaci&oacute;n por #es de los tipos de d&iacute;as as&iacute;: 
                    los h&aacute;biles aparecen en # negro, los festivos aparecen en 
                    # rojo fuerte, y los inh&aacute;biles aparecen en # azul aguamarina 
                    o turquesa. Al ubicarse en cualquiera de los d&iacute;as domingo estos 
                    se mostrar&aacute;n como d&iacute;as h&aacute;biles y aparecen en # 
                    rojo claro; se muestran as&iacute; por no ser usualmente d&iacute;as 
                    h&aacute;biles y por cuanto es la forma acostumbrada en que se presentan 
                    en la mayor&iacute;a de calendarios.</p></td>
              </tr>
              <tr > 
                <td  class="titletable" ><p class="SUBTITULO"><b><span 
        >No 
                    h&aacute;bil para</span></b></p></td>
                <td><p class="PARRAFO">Campo 
                    obligatorio que contiene lista de valores de la cual se puede seleccionar si la 
                    inhabilidad es para proceso, atenci&oacute;n p&uacute;blico o para ambas 
                    situaciones.</p></td>
              </tr>
              <tr > 
                <td class="titletable"><p class="SUBTITULO"><b><span 
        >Descripci&oacute;n</span></b></p></td>
                <td ><p class="PARRAFO">Campo 
                    alfanum&eacute;rico de 30 posiciones, no obligatorio, dentro del que 
                    es posible mencionar el motivo o la raz&oacute;n por la cual un d&iacute;a 
                    espec&iacute;fico no es laborable o es festivo. </p></td>
              </tr>
            </table>
            <p  class="PARRAFO"><span class="PARRAFO"><span class="SUBTITULO">Actualizar:</span> 
              Si el usuario invoca la opci&oacute;n Actualizar se despliega un nuevo formulario 
              en el cual los &uacute;nicos campos modificables son: Tipo d&iacute;a, No h&aacute;bil para, y Descripci&oacute;n. </span></p>
            <p class="TITLE"><img src="../img/NUF_023B3.PNG"301" height="142"></p>
            
            </section>
    <script src="../js/menu.js"></script>
</body>
<footer>
    <div>
        <img class="TITLE"  src= "../img/logo.PNG">
    </div>
    <p>OpenCard SAS</p>
    <p>Calle 77 Nº 11-19 Piso 4°,Bogotá D.C.</p>
    <p>Tel (57) 601 - 313 37 75  <a href="http://www.opencard.com"
            target="_blank">www.opencard.com</a></p>



</footer>

</html>